#pre_approve_accept .service-copmity ul li {
    border: 1px solid #ccc;
    float: left;
    margin: 5px 0 5px 13px !important;
    padding: 0;
    width: 90% !important;
}
#myModal-host .chekin-list #offer_message_contact1 {
    width: 434px;
	margin-left: 0 !important;
}
#myModal-host .booking-btn {
    cursor: pointer;
    float: left;
    margin: 0 0 0 14px;
    width: 90%;
}
.profilepage .panel-footer{
	display: inline-block;
    padding: 20px 15px;
    width: 100%;
}
.profilepage .panel-footer a{
	background: none repeat scroll 0 0 #ff5a5f;
    border: medium none;
    color: #fff;
    margin: 0;
    text-shadow: none;
	padding:11px 15px;
}
.reviwprofile .listd-right a.bedrom-flat{
	color: #fff;
}
.searching-section input.where {
	width: 34%;
}
.show_view #transition-timer-carousel .carousel-inner .item{
	height: 100px !important;
    overflow: hidden;
}
#content_text ul{
	padding-left: 15px !important;
}
#content_text li{
	list-style-type: disc !important;
    list-style-position: outside !important;
    list-style-image: none !important;
}
#content_text h1{
	margin-bottom: 15px;
}