/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0;  z-index:9999; ;
	-webkit-border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
    color: #111111; outline:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{ background-color: rgba(0, 0, 0, 0.65);
    opacity: 1;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; }
    #cboxTopRight{width:21px; height:21px;}
    #cboxBottomLeft{width:21px; height:21px; }
    #cboxBottomRight{width:21px; height:21px; }
    #cboxMiddleLeft{width:21px;}
    #cboxMiddleRight{width:21px;}
    #cboxTopCenter{height:21px;}
    #cboxBottomCenter{height:21px; }
    #cboxContent{background:#fff; overflow:hidden;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{ 	background:#FFFFFF;
	box-shadow: 0 0 0 1px #ccc;
	-moz-box-shadow: 0 0 0 1px #ccc;
	-webkit-box-shadow: 0 0 0 1px #ccc;
	margin:1px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxClose{position:absolute; top:10px; right:5px; background:url(../../images/site/close_img.jpg) no-repeat; width:24px; height:24px; text-indent:-9999px; border:none}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(../../images/site/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(../../images/site/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(../../images/site/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(../../images/site/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(../../images/site/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(../../images/site/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(../../images/site/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(../../images/site/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
}
